<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="../favicon-160x160.png" sizes="160x160" />
    <link rel="icon" type="image/png" href="../favicon-196x196.png" sizes="196x196" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,500,600,700&display=swap&subset=latin-ext" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2fc3faf667.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="../Public/css/style.css" />

    <title>sapiens</title>
</head>

<body>
    <header class="topnav">
        <a href="#"><img class="topnav-logo" src="../Public/img/logo.png"><img class="topnav-logo" src="../Public/img/logotext.png"></a>
        <nav>
            <ul class="topnav-links">
                <li><a class="active" href="#">learn</a></li>
                <li><a href="#">explore</a></li>
                <li><a href="#">profile</a></li>
                <li><a href="#">settings</a></li>
            </ul>
        </nav>
        <form action="<?php echo URL; ?>Includes/logout.inc.php" method="post">
            <button type="submit" class="topnav-logout" name="logout-submit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </header>
    
    <div id="bottomnav" class="bottomnav">
        <a class="active" href="#"><i class="fas fa-book"></i></a>
        <a href="#"><i class="fas fa-search"></i></a>
        <a href="#"><i class="fas fa-user"></i></a>
        <a href="#"><i class="fas fa-cog"></i></a>
    </div>
</body>
</html>