<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="../favicon-160x160.png" sizes="160x160" />
    <link rel="icon" type="image/png" href="../favicon-196x196.png" sizes="196x196" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,500,600,700&display=swap&subset=latin-ext" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2fc3faf667.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="../Public/css/style.css" />

    <title>sapiens</title>
</head>

<body>
    <header class="topnav">
        <a href="#"><img class="topnav-logo" src="../Public/img/logo.png"><img class="topnav-logo" src="../Public/img/logotext.png"></a>
        <nav>
            <ul class="topnav-links">
                <li><a href="#">learn</a></li>
                <li><a class="active" href="#">explore</a></li>
                <li><a href="#">profile</a></li>
                <li><a href="#">settings</a></li>
            </ul>
        </nav>
        <form action="<?php echo URL; ?>Includes/logout.inc.php" method="post">
            <button type="submit" class="topnav-logout" name="logout-submit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </header>

    <div class="content">
        <div class="header-with-button">
            <h1 style="padding-bottom: 0.5em;">Course Name</h1>
            <div class="save-button">
                <form action="/">
                    <div class="item">
                        <h2>Start</h2>
                    </div>
                    <div class="item">
                        <button type="submit"><i class="fas fa-play"></i></button>
                    </div>
                </form>
            </div>
        </div>

        <div class="profile-grid">
            <div class="box">
                <h4>Description</h4>
                <p class="profile-description">Course description.</p>
            </div>
            <div class="box">
                <h4>Category</h4>
                <p class="profile-description">Course category.</p>
            </div>
            <div class="box">
                <h4>Requirements</h4>
                <p class="profile-description">Course requirements.</p></div>
            <div class="box">
                <div class="slideshow-container">
                    <div class="slides fade">
                        <img src="../Public/img/placeholder.jpg" style="width:100%;">
                    </div>
                    <div class="slides fade">
                        <img src="../Public/img/placeholder-alt.jpg" style="width:100%;">
                    </div>

                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
            </div>
        </div>
    </div>
    
    <div id="bottomnav" class="bottomnav">
        <a href="#"><i class="fas fa-book"></i></a>
        <a class="active" href="#"><i class="fas fa-search"></i></a>
        <a href="#"><i class="fas fa-user"></i></a>
        <a href="#"><i class="fas fa-cog"></i></a>
    </div>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("slides");
            if (n > slides.length) {
                slideIndex = 1;
            }
            if (n < 1) {
                slideIndex = slides.length;
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slideIndex - 1].style.display = "block";
        }
    </script>
</body>
</html>