<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="../favicon-160x160.png" sizes="160x160" />
    <link rel="icon" type="image/png" href="../favicon-196x196.png" sizes="196x196" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,500,600,700&display=swap&subset=latin-ext" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2fc3faf667.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="../Public/css/style.css" />

    <title>sapiens</title>
</head>

<body>
    <header class="topnav">
        <a href="#"><img class="topnav-logo" src="../Public/img/logo.png"><img class="topnav-logo" src="../Public/img/logotext.png"></a>
        <nav>
            <ul class="topnav-links">
                <li><a href="#">learn</a></li>
                <li><a href="#">explore</a></li>
                <li><a class="active" href="#">profile</a></li>
                <li><a href="#">settings</a></li>
            </ul>
        </nav>
        <a class="topnav-logout" href="#"><i class="fas fa-sign-out-alt"></i></a>
    </header>

    <div class="content">
        <h1 style="padding-bottom: 0.5em;">Your profile</h1>

        <div class="profile-grid">
            <div class="box">
                <div class="profile-info">
                    <img src="../Public/img/user-icon.png">
                    <div class="user-info">
                        <h4>Name Surname</h4>
                        <h5>Location</h5>
                    </div>
                </div>
                <p class="profile-description">Optional profile description.</p>
            </div>
            <div class="box">
                <h4>Completed courses</h4>
                <p class="profile-description">Nothing to show here. Go to the <a href="#">Explore</a> page to find interesting courses!</p>
            </div>
            <div class="box"><p class="profile-description">Member since: 1970-01-01</p></div>
            <div class="box">
                <h4>Courses in progress</h4>
                <ul>
                    <li>Course 1</li>
                    <li>Course 2</li>
                </ul>
            </div>
        </div>
    </div>
    
    <div id="bottomnav" class="bottomnav">
        <a href="#"><i class="fas fa-book"></i></a>
        <a href="#"><i class="fas fa-search"></i></a>
        <a class="active" href="#"><i class="fas fa-user"></i></a>
        <a href="#"><i class="fas fa-cog"></i></a>
    </div>
</body>
</html>