<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="../favicon-160x160.png" sizes="160x160" />
    <link rel="icon" type="image/png" href="../favicon-196x196.png" sizes="196x196" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,500,600,700&display=swap&subset=latin-ext" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2fc3faf667.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="../Public/css/style.css" />

    <title>sapiens</title>
</head>

<body>
    <header class="topnav">
        <a href="#"><img class="topnav-logo" src="../Public/img/logo.png"><img class="topnav-logo" src="../Public/img/logotext.png"></a>
        <nav>
            <ul class="topnav-links">
                <li><a class="active" href="#">learn</a></li>
                <li><a href="#">explore</a></li>
                <li><a href="#">profile</a></li>
                <li><a href="#">settings</a></li>
            </ul>
        </nav>
        <a class="topnav-logout" href="#"><i class="fas fa-sign-out-alt"></i></a>
    </header>

    <div class="content">
        <div class="dropdown-menu">
            <h1 class="dropdown-button">Choose topic <i class="fas fa-caret-down"></i></h1>
            <div class="dropdown-content">
                <a href="#">Topic 1</a>
                <a href="#">Topic 2</a>
            </div>
        </div>

        <h1 style="padding-top: 1em; padding-bottom: 0.5em;">Topic 1: Introduction</h1>

        <section class="topic-section">
            <p class="topic-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, omnis, ut aut doloremque voluptatem tempore officia facilis possimus voluptates eveniet facere, eum exercitationem expedita asperiores! Quaerat illum atque excepturi ab.</p>
        </section>

        <section class="topic-section">
            <h2>Example heading</h2>
            <p class="topic-paragraph"><img class="topic-image" src="../Public/img/placeholder.jpg">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium quaerat magni ducimus sequi laborum non voluptatem, id laudantium numquam tenetur voluptatibus. Consectetur eius minima veniam sunt dolorem blanditiis cumque natus?</p>
        </section>
    </div>
    
    <div id="bottomnav" class="bottomnav">
        <a class="active" href="#"><i class="fas fa-book"></i></a>
        <a href="#"><i class="fas fa-search"></i></a>
        <a href="#"><i class="fas fa-user"></i></a>
        <a href="#"><i class="fas fa-cog"></i></a>
    </div>
</body>
</html>