* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(#0032BA, #00035A);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: row;
    height: inherit;
    justify-content: center;
}

.col2 {
    display: flex;
    flex: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo > img {
    width: 15em;
}

.signup-container {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 50%;
}

.signup-container .tabgroup {
    display: flex;
    flex-direction: row;
}

.signup-tab, .login-tab {
    width: 50%;
    height: 25%;
    cursor: pointer;
    text-align: center;
    line-height: 3em;
    font-size: 1.5em;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.signup-form, .login-form {
    box-sizing: border-box;
    padding: 5%;
    clear: both;
    width: 100%;
}

.signup-input {
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    margin-bottom: 1em;
    border-color: #0032ba;
    border-radius: 4px;
    background: #fff;
    outline: none;
    transition: all 0.3s ease-in-out;

    font-size: 0.8em;
    color: #0032ba;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; 
}

.signup-input:focus {
    border: 2px solid #7fa1ff;
}

.signup-button {
    width: 100%;
    background-color: #0032ba;
    text-align: center;
    height: 3em;
    border-radius: 4px;
    cursor: pointer;
    
    line-height: 3em;
    font-size: 1em;
    color: #e8eff7;
    font-weight: 600;
}

.signup-bottom {
    padding-top: 1.5em;
    text-align: center;
}

a {
    text-decoration: none;
}

span a {
    text-decoration: none;
    color: #1755ff;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .signup-container {
        width: 90%;
    }
}

@media screen and (min-width: 900px) {
    #bottomnav {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .topnav-links {
        display: none;
    }
}

.filter-white {
    filter: invert(96%) sepia(99%) saturate(2%) hue-rotate(218deg) brightness(112%) contrast(100%);
}

.notfound-header {
    font-size: 5em;
    font-weight: 500;
    padding-bottom: 0.5em;
}

.notfound-text {
    width: 60%;
    font-size: 2.5em;
    font-weight: 500;
    font-family: 'Montserrat Alternates', 'Montserrat', sans-serif;
}

.notfound-text a {
    color: #1755ff
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em 1em 1em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.topnav a, .bottomnav a {
    color: rgb(255, 255, 255, 0.5);
    font-weight: 500;
    font-size: 2em;
    transition: all 0.3s ease-in-out;
}

.topnav a:hover, .bottomnav a:hover {
    color: rgb(255, 255, 255, 0.8);
}

.topnav a.active, .bottomnav a.active {
    color: rgb(255, 255, 255, 1.0);
}

.topnav-logo {
    cursor: pointer;
    height: 1.5em;
    padding: 0px 10px 0px 0px;
}

.topnav-links {
    list-style: none;
}

.topnav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.bottomnav {
    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 1px solid rgba(255, 255, 255, 0.2);
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #00035A
}

.bottomnav a {
    display: block;
    padding: 0.5em 1em;
}

.content {
    display: flex;
    flex-direction: column;
    padding-top: 3%;    
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
}

.content h1 {
    font-family: 'Montserrat Alternates', 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 3em;
}

.dropdown-button {
    cursor: pointer;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 25%;
    max-width: 50%;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #00035A;
    padding: 1em 1em;
    display: block;
}

.dropdown-content a:hover {
    background-color: #e8eff7;
}

.dropdown-menu:hover .dropdown-content, .dropdown-menu:active .dropdown-content {
    display: block;
}

h3 {
    font-size: 2em;
    color: #0032BA;
    font-family: 'Montserrat Alternates', 'Montserrat', sans-serif;
    font-weight: 500;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1.5em;
    padding: 1em 0;
}

.card-title {
    line-height: 2em;
}

.cards {
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr 1fr);
    grid-gap: 1.5em;
}

.card {
    grid-column-end: span 6;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media only screen and (max-width: 600px) {
    .card {
        grid-column-end: span 20;
    }

    .web-only {
        display: none;
    }

    .search-box {
        width: 100%;
    }

    .header-with-search input[type=text] {
        width: 90%;
    }

    .header-with-search button {
        width: 10%;
    }
}

.card:hover {
    transform: translateY(-6px);
}

.card-image {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}

.card-image img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-content {
    padding: 1em;
}

.card-description {
    font-family: 'Montserrat Alternates', 'Montserrat', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 400;
    color: #00035A;
}

.card-category {
    padding-top: 1em;
    font-family: 'Montserrat Alternates', 'Montserrat', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 400;
    color: #00035A;
}

.header-with-search div {
    overflow: hidden;
}

.header-with-search h1 {
    float: left;
}

.header-with-search .search-box {
    margin-top: 0.7em;
    float: right;
}

.header-with-search input[type=text] {
    border: none;
    padding: 0.5em;
    font-family: 'Montserrat Alternates', 'Montserrat', sans-serif;
    color: #00035A;
    line-height: 1.5em;
    font-size: 1em;
}

.header-with-search .search-box button {
    float: right;
    border: none;
    padding: 0.5em;
    background: #fff;
    line-height: 1.5em;
    font-size: 1em;
    cursor: pointer;
}

.profile-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}

.box {
    font-family: 'Montserrat Alternates', 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    grid-column-end: span 1;
    padding-bottom: 1em;
}

.profile-description {
    padding-top: 1em;
    font-size: 0.7em;
}

@media only screen and (max-width: 600px) {
    .box {
        grid-column-end: span 2;
    }
}

.profile-info {
    display: flex;
    flex-direction: row;
}

.profile-info img {
    height: 2.5em;
    padding-right: 0.5em;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box h4 {
    font-family: 'Montserrat Alternates', 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1em;
}

.box h5 {
    font-family: 'Montserrat Alternates', 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.75em;
}

.box ul {
    list-style-type: none;
    padding-top: 0.5em;
    font-size: 0.75em;
}

.box li {
    padding-bottom: 0.25em;
}

h2 {
    font-size: 2em;
    font-family: 'Montserrat Alternates', 'Montserrat', sans-serif;
    font-weight: 500;
}

.header-with-button h1 {
    float: left;
}

.save-button {
    display: block;
    margin-top: 0.7em;
    cursor: pointer;
}

.save-button button {
    border: none;
    padding: 0.5em;
    background: transparent;
    color: #fff;
    line-height: 1.5em;
    font-size: 1.2em;
}

.item {
    float: right;
}

.settings-container input[type=text], .settings-container input[type=password], textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #fff;
    font-family: 'Montserrat Alternates', 'Montserrat', sans-serif;
    color: #00035A;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.2em;
}

.settings-container textarea {
    height: 5em;
    margin-bottom: 0.5em;
}

.settings-container label {
    padding: 0.5em 0.5em 0.5em 0;
    display: inline-block;
    font-size: 1.2em;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 0.5em;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 0.5em;
}

.settings-row:after, .settings-row:before {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .settings-container textarea {
        margin-bottom: 0;
    }

    .settings-container label {
        display: none;
    }

    .col-25, .col-75 {
        width: 100%;
    }
}

.lesson-contents {
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr 1fr);
    grid-gap: 1.5em;
}

.lesson-content {
    grid-column-end: span 6;
    display: flex;
    flex-direction: column;
}

.lesson-content-title {
    font-family: 'Montserrat Alternates', 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    font-size: 2em;
    margin-bottom: 0.5em;
}

.lesson-content a {
    color: #fff;
}

.lesson-content-item {
    font-family: 'Montserrat Alternates', 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 0.2em;
}

.lesson-content-desc {
    font-family: 'Montserrat Alternates', 'Montserrat', sans-serif;
    font-weight: 400;
}

@media only screen and (max-width: 600px) {
    .lesson-content {
        grid-column-end: span 20;
    }
}

.box img {
    border-radius: 10px;
    width: 100%;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.slides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    color: #fff;
    padding: 0.5em;
    font-weight: 600;
    transition: all 0.3s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.topic-paragraph {
    float: left;
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    display: inline-block;
}

.topic-image {
    float: right;
    border-radius: 10px;
    display: inline-block;
}